*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner{
    background:wheat;
    padding-bottom: 50px;
}
.title{
    background-color: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 570px;
    max-width: 330px;
}
.title h1{
    margin-top: 10px;
    margin-left: 50px;
    color: white;
}
.title h1 .fa{
    font-size: 30px;
    margin-left: -20px;
    margin-right: 5px;
    color: white;
}
.banner .banner-img img{
    width: 550px;
    margin-top: 170px;
    margin-left: -120px;
}
.navbar-nav li a{
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav li a .fa{
    color: red;
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.307);
    border-radius: 50%;
}
.navbar-nav li a:hover{
    color: red;
    transition: 0.3s;
}
.banner-text{
    padding-top: 10em;  
    padding-left: 12em;
}
.banner-text h1{
    color: red;
    font-size: 55px;
    font-weight: 100;
    font-style: italic;
}
.banner-text h2{
    font-family: sans-serif;
}
.banner-text p{
    color: #555;
    font-size: 16px;
}
.price-order{
    display: flex;
    padding-top: 30px;
}
.price-order h4{
    color: red;
}
.price-order .btn{
    margin-left: 60px;
    color: White;
    font-size: 16px;
    letter-spacing: 2px;
    background: red;
}
.special-dishes{
    box-sizing: border-box;
    border: 1px solid none;
    max-width: 240px;
    background: red;
    margin-top: 12em;
    border-radius: 20px;
    color: white;
}

.special-dishes .img img{
    width: 250px;
    margin-top: -100px;
    margin-left: -100px;
}
.special-dishes .img .price{
    text-align: right;
    margin-top: -100px;
    padding-right: 10px;
    color: white;
    font-size: 25px;
}
.special-dishes .rating{
    display: flex;
}
.special-dishes .rating .fa{
    color: gold;
    padding: 5px;
}
.special-dishes .dish-name h6{
    margin-left: 10px;
    font-size: 20px;
    font-weight:600;
}
.special-dishes .about-dish p{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.story{
    padding-top: 100px;
}
.story img{
    width: 100%;
    height: 100%;
}
.story h2{
    color: red;
    font-style: italic;
    font-weight: 100;
    font-size: 35px;
}
.story h1{
    color: black;
    font-weight: 600;
}
.story p{
    color: #555;
}
.line{
    display: inline-block;
    height: 1px;
    width: 550px;
    background-color: red;
}
.story-btn{
    display: flex;
    margin-top: 20px;
}
.story-btn .btn{
    background: red;
    color: white;
    height: 40px;
    margin: 10px;
}
.story-btn h1{
    color: red;
    font-size: 55px;
    margin-top: -10px;
    margin-left: 30px;
}
.story-btn .exp p{
    color: red;
    font-weight: 600;
    margin-left: 20px;
}
.story-btn .exp h4{
    margin-top: -20px;
    font-weight: 600;
    margin-left: 20px;
}
.popular-menu{
    padding-top: 100px;
    padding-bottom: 100px;
}
.popular-menu h4{
    color: red;
    font-weight: 100;
    font-style: italic;
}
.popular-menu h3{
    font-weight: 500;
    font-size: 40px;
}
.popular-box{
    background-color: wheat;
    width: 300px;
    transition: 0.5s;
}
.popular-box:hover{
    background-color: red;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                6px 6px 10px -1px rgba(21, 20, 20, 0.8);
}
.popular-box:hover .img img{
    filter: brightness(0) invert(1);
}
.popular-box:hover .item-name h2{
    color: white;
}
.popular-box:hover .about{
    color: white;
}
.popular-box .img img{
    margin: 20px;
}
.popular-box .item-name h2{
    margin: 10px;
    font-size: 25px;
}
.popular-box .about{
    margin: 10px;
    font-size: 16px;
    color: #555;
}
.long-card{
    padding-top: 10px;
    margin-bottom: 50px;
    display: flex;
    box-sizing: border-box;
    background-color: red;
    color: white;
}
.long-card .img img{
    width: 60px;
    height: 60px;
    margin: 3px;
    border-radius: 50%;
    margin-top: 5px;
    border: 5px solid white ;
}
.long-card .btn{
    cursor: pointer;
    font-size: 16px;
    color:red;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color:white;
}
.team{
    padding-top: 50px;
}
.team h3{
    color: red;
    font-style: italic;
}
.team h2{
    font-weight: 600;
}
.chefs-card{
    margin-top: 150px;
    box-sizing: border-box;
    background-color: wheat;
    transition: 0.5s;
    height: 240px;
}
.chefs-card:hover{
    background-color:red;
}
.chefs-card:hover .name h6{
    color: white;
}
.chefs-card:hover .class{
    color: white;
}
.chefs-card:hover .social-media span .fa{
    color: white;
}
.chefs-card .img img{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    margin-left: 25px;
    border-radius: 50%;
    margin-top: -100px;
    object-fit: cover;
}
.chefs-card .name h6{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-top: 5px;
}
.chefs-card .class {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.chefs-card .social-media span{
    display: flex;
    justify-content: space-evenly;
}
.chefs-card .social-media span .fa{
    color:#555;
}
.testimonials{
    margin-top: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: wheat;
}
.testimonials h3{
    color: red;
    font-style: italic;
    font-weight: 100;
}
.testimonials h2{
    font-weight: 600;
}
.testimonials-box{
    box-sizing: border-box;
    border: 1px solid none;
    margin-top: 50px;
    width: 300px;
    background-color: white;
}
.testimonials-box .top-img img{
    padding-top: 20px;
    padding-left: 20px; 
}
.testimonials-box .text p{
    padding: 10px; 
}
.testimonials-box .rating .fa{
    padding: 10px; 
    color: gold;
}
.testimonials-box .rating span .fa{
    padding: 10px; 
    color: #555;
}
.testimonials-box .img img{
   margin: 10px;
   border-radius: 50%;
}
.testimonials-box .img {
    display: flex; 
}
.testimonials-box .img h6{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}
.testimonials-box .img p{
    margin-top: -10px;
}
.navbar h1{
    display: none;
}


@media only screen and (max-width:900px){
    .title{
        height: 100px;
        display: none;
    }
    .title h1{
        margin-top: 0;
        margin-left: 30px;
        color: white;
    }
    .banner .banner-img img{
        display: none;
    }
    .navbar-nav li {
        margin-left: auto;
    }
    .navbar  h1{
        display: contents;
        color: red;
    }
    .banner-text{
        padding-top: 5em;  
        padding-left: 1px;
    }
    .special-dishes{
        max-width: 80%;
        margin-left: 30px;
        margin-top: 80px;

    }
    .popular-box{
        width: 80%;
        margin-left: 40px;
    }
    .long-card{
        margin-bottom: 50px;
        max-width: 100%;
        overflow: hidden;
        padding: 5px;
    }
    .long-card .img img{
        width: 50px;
        height: 50px;
        margin: 1px;
        border-radius: 50%;
        margin-top: 15px;
    }
    .long-card .text{
        margin-top: 14px;
    }
    .long-card .text h3{
        font-size: 18px;
        margin-top: 5px;
        width: 100%;
    }
    .long-card .text p{
        display: none;
    }
    .long-card .btn{
        cursor: pointer;
        font-size: 16px;
        color:red;
        height: 40px;
        margin-left: -10px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color:white;
    }
    .chefs-card{
        margin-top: 200px;
    }
    .chefs-card .img img{
        width: 250px;
        height: 250px;
        margin-left: 110px;
        margin-top: -150px;
    }
    
.testimonials-box{
    width: 100%;
}

.line{
    display: inline-block;
    height: 1px;
    width: 400px;
    background-color: red;
}
}

